.card-grid-inner {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    flex: 1 0 20%;
    margin: 15px
}

@media (max-width: 800px) {
    .flex-container {
        flex-direction: column;
    }
}

.card-grid-inner .mtg-card {
    display: flex;
    flex: 1 0 20%;
    width: calc(100%*1/6);
    height: auto;
    position: relative;
    margin: 2px;
}

.card-grid-inner .illegal {
    display: flex;
    flex: 1 0 20%;
    width: calc(100%*1/6);
    height: auto;
    position: relative;
    margin: 2px;
}

.card-grid-inner a {
    display: flex;
    flex: 1 0 20%;
}

.navbar-brand {
    width: fit-content;
}